.hot_points {
    left: 50px;
    top: 50px;
    display: block;
    margin: 8px; 
    background-color: gold;
    padding: 8px; 
    border-radius: 50px;
    border-width: medium;
      -webkit-box-shadow:2px 2px 2px 2px #EBEB0D;
      -moz-box-shadow:2px 2px 2px 2px #EBEB0D;
      -o-box-shadow:2px 2px 2px 2px #EBEB0D;
      -ms-box-shadow:2px 2px 2px 2px #EBEB0D;
      box-shadow:-15px -15px 5px 10px #EBEB0D;   
}

.hot_points table
{
    
}

.hot_points table caption
{
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkorange;
    border-radius: 15px;
    font-size: large;    
    font-family: fantasy;
    color: navy;
    font-weight: bold;
}




#idHotPointsPlace {
    left: 900px;
    top: 850px;
    min-width: 250px;
    width: 280px;
    display: block;
}

#idHotPointsGetPlace {

}

.pointInfo {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #f0e68c;
    display: block;
    border-radius: 50px;
    border-width: medium;
      -webkit-box-shadow:2px 2px 2px 2px #EBEB0D;
      -moz-box-shadow:2px 2px 2px 2px #EBEB0D;
      -o-box-shadow:2px 2px 2px 2px #EBEB0D;
      -ms-box-shadow:2px 2px 2px 2px #EBEB0D;
      box-shadow: 4px 4px 5px 5px #EBEB0D;   
}

.pointInfoBottom 
{
    text-align: -webkit-center;
    margin-top: 17px;
}

.pointInfoLink
{
    color: #000;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #FFF15C;   background-image: linear-gradient(to bottom,#FFF15C,#2f96b4);
    background-repeat: repeat-x;   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);   display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px; vertical-align: middle;
    min-height: 32px;
    min-width:  32px;    
    text-align: right;
    cursor: pointer;border: 1px solid #bbb;  
    border-radius: 4px;  
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);  
    -webkit-appearance: button;  margin: 0;   
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px; 
}

.pointLocation
{
    color: #000;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #B0C4DE ;   background-image: linear-gradient(to bottom,#FFF15C,#2f96b4);
    background-repeat: repeat-x;   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);   display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px; vertical-align: middle;
    min-height: 32px;
    min-width:  32px;    
    text-align: right;
    cursor: pointer;border: 1px solid #bbb;  
    border-radius: 4px;  
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);  
    -webkit-appearance: button;  margin: 0;   
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px; 
}


.pointCatch
{
    color: #000;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #B7FEA0;   background-image: linear-gradient(to bottom,#FFF15C,#2f96b4);
    background-repeat: repeat-x;   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);   display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px; vertical-align: middle;
    min-height: 32px;
    min-width:  32px;    
    text-align: right;
    cursor: pointer;border: 1px solid #bbb;  
    border-radius: 4px;  
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);  
    -webkit-appearance: button;  margin: 0;   
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px; 
}