html { 
	height: 100%;
}

body {
  padding-top: 50px;
  background-color:transparent ;
}
.bgimg {
  background-image: url("../img/back.jpg"); 
  min-height: 100%;  
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px)  
{
	#topControl
	{
		white-space: normal;
	}
}

@media (min-width: 768px) {
	.loginQr
		{
		   width: 300px;
		   height: 300px; 
		}
}
	
.starter-template 
  {
    border-radius:10px;
      border-color:navy;
      border-width:medium;
      border-style:solid;
      background-color: mintcream;
      -webkit-box-shadow:2px 2px 2px 2px #737373;
      -moz-box-shadow:2px 2px 2px 2px #737373;
      -o-box-shadow:2px 2px 2px 2px #737373;
      -ms-box-shadow:2px 2px 2px 2px #737373;
      box-shadow:4px 4px 4px 4px #737373;
      padding: 15px 15px;
      text-align: center;
      -webkit-transition: .4s ease-out;
      -webkit-transition-delay: 0.5s;
  -o-transition: .4s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: .4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: .4s ease-out;
  transition-delay: 0.5s;
  width: -moz-fit-content;
  width:-webkit-fit-content;
  width:-ms-fit-content;

  margin: auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

