RewriteEngine on
DirectoryIndex index.php
Header set Access-Control-Allow-Origin "*"
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
<IfModule mod_suphp.c> 
  suPHP_ConfigPath /home/fastksjq/public_html 
</IfModule>
#RewriteCond %{HTTP_HOST} ^fastfen\.club$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.fastfen\.club$
#RewriteRule ^/?$ "https\:\/\/ua\.bitganj\.website\/index\.html" [R=302,L]

